@media only screen and (max-width: 1000px){

.container{
	max-width: 100%;
	margin:0px auto;
	overflow: hidden;
}

.logo{
	margin-left: 10px;
}

.title_logo{
	margin-left: 10px;
}

.bookmark_logo{
	display: none;
}

.login{
	height: 780px;
}

.welcome_back{
	margin-left: 10px;
}

.sign_in{
	margin-left: 10px;
}

form{
	display:block;
	max-width: 100%;
	padding: 15px;
	overflow: hidden;
	height: 230px;
}

.input_email{
	overflow: hidden;
}

.input_email input{
	width:100%;
}

.input_pass{
	overflow: hidden;
}

.input_pass input{
	width:100%;
}

.input_sign_in{
	padding: 10px 0px 10px 0px;
	overflow: hidden;
}

.input_sign_in a{
	padding:10px 55% 10px 44%;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}

.first_time_here{
	display: block;
	width: 100%;
	text-align: center;
}

.first_time_here p{
	padding:5px 0px 10px 0px;

}

.hr1{
	display: none;
}

.hr2{
	display: none;
}

.first_teacher{
	display: block;
	position: static;
	margin-left: 15px;
	margin-right: 15px;
}

.first_parent{
	display: block;
	position: static;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
}

.love_to_read{
	overflow: hidden;
}

.love_to_read_container{
	width: 100%;
	display: block;
	margin: 0px auto;
}

.love_to_read{
	height:432px;
}

.love_to_read_para{
	width: 100%;
}

.love_to_read_para p{
	font-size: 25px;
}

.love_to_read_img1{
	display: block;
	padding: 0px;
	margin-left: -11px;
}

.love_to_read_img1 img{
    display: block;
    margin:auto;
    height: auto;
    padding-top: 10px;
    max-width: 100%;
}

.love_to_read_img2{
	display: none;
}

.how_to{
	height:auto;
}

.how_to_para p{
	font-size: 30px;
}

.how_to_points{
	display:block;
	width: 235px;
	margin:0px auto;
	margin-bottom: 10px;
}

.how_to_points ul{
	list-style-type: none;
}

.how_to_points img{
	margin-left: 3px;
}

.how_to_steps_div{
	display: inline-block;
}

.how_to_steps_div p{
	padding: 0px 0px 0px 110px;
	font-size: 22px;
	font-weight: bold;
	color: #d83230;
}

.steps_hr1{
	display: inline-block;
	position: absolute;
	margin-top: 15px;
	margin-left: 5px;
	width: 95px;
	color: white;
}

.steps_hr2{
	display: inline-block;
	position: absolute;
	margin-top: 15px;
	margin-left: 135px;
	width: 95px;
}

.how_to_points_para{
	display: inline-block;
	margin : 0px auto;
	text-align: center;
	height: 100px;
}

.how_to_points_para p{
	font-size: 17px;
	padding: 0px 25px 0px 25px;
}

.get_started{
	height: auto;
}

.get_started_para{
	width: 100%;
}

.get_started_para p{
	font-size: 30px;
}

.get_started_img{
	display: block;
}

.get_started_img img{
	display:block;
	margin:0px auto;
	max-width: 100%;
	height: auto;
}

.get_started_scroll{
	display: block;
	width:100%;
	background-color:rgb(244, 241, 234); 
}

.scroll_element{
	display: block;
	width:250px; 
	margin:10px auto;
	background-color: white;
}

.for_teachers{
	height: 650px;
}

.for_teachers_para{
	width: 100%; 
}

.for_teachers_para p{
	font-size: 30px;
}

[class*="for_teachers_para_"]{
	border-left :1px solid #d83230;
	border-right:1px solid #d83230;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	display: block;
	margin: 30px auto;
	position: static;
}

.for_teachers_para_1{
	margin-left: auto;
}

.for_teachers_para_2{
	margin-left: auto;
}

.for_teachers_para_3{
	margin-left: auto;
}

.for_teachers_para_4{
	margin-left: auto;
}

.get_reading{
	height: 400px;
}

.get_reading_para{
	width: 100%; 
}

.get_reading_para p{
	font-size: 30px;
}

.get_reading_teacher{
	display: block;
	position: static;
	margin:20px auto;
	width: 100%;
}

.get_reading_teacher_account{
	display: block;
	width: 100%;
}

.get_reading_teacher_account a{
	padding: 10px 30px 10px 30px;
	margin-right: 0px;
}

.get_reading_parent{
	display: block;
	position: static;
	margin:20px auto;
	width:100%;
}

.get_reading_parent_account{
	display: block;
	width: 100%;
}

.get_reading_parent_account a{
	padding: 10px 65px 10px 65px;
	background-color: rgb(248, 128, 5);
	margin-left: 0px;
}

.footer_cells{
	background-color: #f4f1ea;
	height:800px;
}

[class*="footer_cells_para_"]{
	border-right:4px solid white;
	border-left:4px solid white;
	display: block;
	margin: 30px auto;
	text-align: left;
	position: static;
}

.footer_cells_para_1{
	margin-left: auto;
}

.footer_cells_para_2{
	margin-left: auto;
}

.footer_cells_para_3{
	margin-left: auto;
}

.footer_cells_para_4{
	margin-left: auto;
}



}
